<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action='/new' method='post'>
            <div class="form-group">
              <label for="">姓名</label>
              <input type="text" name='name' class="form-control" id=""  >
            </div>
            <div class="form-group">
              <label for="">id</label>
              <input type="number" class="form-control" id=""  name='id' >
            </div>
            <div class="form-group">
              <label for="">年龄</label>
              <input type="number" id=""class='form-control' name='age' >
            </div>
            <div class="form-group">
                    <label for="">想法</label>
                    <input type="number" id="" class='form-control' name='content' >
                  </div>
           
            <button type="submit" class="btn btn-default">Submit</button>
    
          </form>
</body>
</html>