<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{block 'title'}}默认莹莹最棒{{/block}}</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    {{block 'head'}}{{/block}}
</head>

<body>
    {{include '../_partials/header.html'}}
    <!--留一个坑 -->
    {{block 'body'}}
    <h1>默认内容</h1>
    {{/block}}
    {{include '../_partials/footer.html'}}
    <script src='/node_modules/jquery/dist/jquery.js'></script>
    <script src='/node_modules/bootstrap/dist/js/bootstrap.js'></script>
    {{block 'script'}}{{/block}}
</body>

</html>