<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>莹莹最棒</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
      <div class="header">
          <a href="/">
            <img src="/public/img/logo3.png" alt="">
        </a>
        <h1>用户注册</h1>
      </div>
      <form id='register_form' action= '/register' method = 'post'>
            <div class="form-group">
              <label for="email">邮箱</label>
              <input type="email" class="form-control" name='email'id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="nickname">昵称</label>
              <input type="text" class="form-control" name='nickname' id="nickname" placeholder="Nikename">
            </div>
            <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name='password' placeholder="Password">
                  </div>
            
                  <button type="submit" class="btn btn-success btn-block">注册</button>
            
          </form>
          <div class="message">
              <p>已有账号？<a href="/login">点击登录</a>.</p>
          </div>
  </div>
  <script src='/node_modules/jquery/dist/jquery.js'></script>
  <script>
  $('#register_form').on('submit',function(e){
    e.preventDefault()
    var formData = $(this).serialize()
   
    $.ajax({
        url : "/register",
        type : 'post',
        data : formData,
        dataType : 'json',
        success : function(data){
           var err_code = data.err_code
           if(err_code === 0){
            console.log('注册成功')
            window.location.href = '/'
           }else if(err_code === 1){
            console.log('邮箱或者昵称已存在')
           }else if(err_code === 500){
            console.log('服务器忙请稍后重试！')
           }

        }
    })
  })
  </script>
</body>

</html>